*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 35%; } }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 9rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [main-start] minmax(min-content, 117rem) [main-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 81.25em) {
    .container {
      grid-template-columns: [full-start] 1fr [main-start] 90vw [main-end] 1fr [full-end]; } }

.mb-3 {
  margin-bottom: 3rem; }

.mb-9 {
  margin-bottom: 9rem; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: sans-serif;
  font-weight: 400;
  margin-bottom: 5rem;
  line-height: 1; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 6rem;
  font-weight: 900; }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 4rem; } }

.heading-3 {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1.2; }
  @media only screen and (max-width: 37.5em) {
    .heading-3 {
      font-size: 2.5rem; } }
  .heading-3--wide {
    letter-spacing: 1rem; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.highlighted-heading {
  color: #333333;
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: center;
  line-height: 2.4;
  font-weight: 300;
  margin: 6rem 0; }
  @media only screen and (max-width: 37.5em) {
    .highlighted-heading {
      margin: 3rem 0; } }
  @media only screen and (max-width: 26.5625em) {
    .highlighted-heading {
      margin: 2rem 0; } }
  .highlighted-heading::before, .highlighted-heading::after {
    display: block;
    width: 11.3rem;
    height: .3rem;
    background-color: red;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }

.btn {
  background-color: #fff;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  grid-column: full-start / full-end;
  grid-row: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; }
  .header__wrap {
    display: flex;
    max-width: 117rem;
    width: 100%;
    align-items: center;
    justify-content: space-between; }
  .header--sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    background-color: white; }
    .header--sticky a {
      color: black !important; }
  .header__logo {
    height: 3rem;
    margin: 3rem 0;
    cursor: pointer; }
    @media only screen and (max-width: 81.25em) {
      .header__logo {
        margin-left: 1rem; } }

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      width: auto; } }
  .nav__item:not(:last-child) {
    margin-right: 4rem; }
    @media only screen and (max-width: 81.25em) {
      .nav__item:not(:last-child) {
        margin-right: 3rem; } }
    @media only screen and (max-width: 26.5625em) {
      .nav__item:not(:last-child) {
        margin-right: .7rem; } }
  .nav__link:link, .nav__link:visited {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    padding: 1.5rem;
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .nav__link:link, .nav__link:visited {
        padding: 1rem; } }

.slider {
  margin-top: -9rem;
  grid-column: full-start / full-end;
  grid-row: 2 / 2;
  justify-content: center;
  align-items: center; }
  .slider__bullets {
    bottom: 7rem !important; }
  .slider__bullet {
    outline: none !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: #fff !important;
    opacity: 1 !important;
    position: relative; }
  .slider__texts {
    padding: 30rem 0;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .slider__texts {
        padding: 20rem 5rem; } }
  .slider .swiper-pagination-bullets {
    display: flex;
    align-items: center;
    justify-content: center; }
  .slider .swiper-pagination-bullet-active {
    background-color: transparent !important;
    border: 2px solid !important;
    width: 1.5rem !important;
    height: 1.5rem !important; }
  .slider .swiper-slide {
    background-size: cover;
    background-position: center;
    filter: brightness(80%); }

.cta {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  width: 20rem;
  height: 6rem;
  cursor: pointer; }

.latest-products {
  grid-row: 3 / 3;
  grid-column: main-start / main-end;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 37.5em) {
    .latest-products {
      margin-bottom: 3rem; } }
  .latest-products__pictures {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem; }
  .latest-products__picture {
    height: 100%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    cursor: pointer; }
    .latest-products__picture--man, .latest-products__picture--woman, .latest-products__picture--watches {
      grid-row: 1 / 1;
      grid-column: span 2;
      padding: 18rem 0;
      font-size: 4rem;
      font-family: "Open Sans", sans-serif;
      font-style: italic;
      outline: 3px solid #fff;
      outline-offset: -2.7rem;
      transition: all .1s; }
      .latest-products__picture--man:hover, .latest-products__picture--woman:hover, .latest-products__picture--watches:hover {
        outline-offset: -3rem; }
      @media only screen and (max-width: 37.5em) {
        .latest-products__picture--man, .latest-products__picture--woman, .latest-products__picture--watches {
          padding: 10rem 0;
          font-size: 2rem; } }
    .latest-products__picture--man {
      background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.6)), url("./../img/lp-man.png"); }
    .latest-products__picture--woman {
      background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.6)), url("./../img/lp-woman.png"); }
    .latest-products__picture--watches {
      background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.6)), url("./../img/lp-watches.png"); }
    .latest-products__picture--new-collection, .latest-products__picture--mega-sale {
      grid-row: 2 / 2;
      grid-column: span 3;
      display: flex;
      align-items: center; }
      .latest-products__picture--new-collection:hover .latest-products__text::before, .latest-products__picture--mega-sale:hover .latest-products__text::before {
        width: 21rem; }
      .latest-products__picture--new-collection:hover .latest-products__text::after, .latest-products__picture--mega-sale:hover .latest-products__text::after {
        width: 21rem; }
    .latest-products__picture--new-collection {
      background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.6)), url("./../img/lp-new_collection.png"); }
    .latest-products__picture--mega-sale {
      background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.6)), url("./../img/lp-mega_sale.png"); }
  .latest-products__text {
    padding: 14rem 0;
    position: relative;
    font-size: 4.5rem;
    margin-bottom: 0; }
    .latest-products__text:hover {
      outline-offset: -3rem; }
    .latest-products__text::before, .latest-products__text::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #fff;
      width: 20rem;
      height: 0.2rem;
      left: 50%;
      transition: all .1s; }
    .latest-products__text span {
      display: inline-block;
      width: 100%; }
    .latest-products__text::before {
      transform: translate(-50%, -2rem); }
    .latest-products__text::after {
      transform: translate(-50%, 2rem); }
    @media only screen and (max-width: 37.5em) {
      .latest-products__text {
        padding: 9rem 0;
        font-size: 3rem; } }

.trending-items {
  grid-column: full-start / full-end;
  grid-row: 4 / 4;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [main-start] minmax(min-content, 117rem) [main-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 81.25em) {
    .trending-items {
      grid-template-columns: [full-start] 1fr [main-start] 100% [main-end] 1fr [full-end]; } }
  .trending-items__product {
    grid-column: main-start / main-end;
    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: repeat(2, 1fr); }
    @media only screen and (max-width: 37.5em) {
      .trending-items__product {
        grid-template-columns: unset;
        grid-column-gap: unset;
        grid-row-gap: 3rem; } }
  .trending-items__image {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    width: 100%;
    padding: 0 2px; }
    @media only screen and (max-width: 37.5em) {
      .trending-items__image {
        grid-row: 1;
        width: 85vw;
        justify-self: center; } }
  .trending-items__heading {
    grid-row: 1 / 1;
    grid-column: 1 / -1; }
  .trending-items__slider {
    overflow: hidden;
    grid-column: main-start / main-end; }
    @media only screen and (max-width: 81.25em) {
      .trending-items__slider {
        margin: 0 2rem; } }
  .trending-items__swiper-container {
    width: 117rem; }
    @media only screen and (max-width: 81.25em) {
      .trending-items__swiper-container {
        width: 100%; } }
  .trending-items__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0; }
  .trending-items__bullet {
    outline: none !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: rgba(51, 51, 51, 0.4) !important;
    opacity: 1 !important;
    position: relative; }
  .trending-items__bullet.swiper-pagination-bullet-active {
    background-color: transparent !important;
    border: 2px solid red !important;
    width: 1.5rem !important;
    height: 1.5rem !important; }

.product {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  color: #777777;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 37.5em) {
    .product {
      grid-column: unset;
      width: 85vw;
      justify-self: center; } }
  .product__title {
    color: #dc0000;
    font-size: 3rem;
    line-height: 2.5;
    font-weight: 700; }
    @media only screen and (max-width: 50em) {
      .product__title {
        line-height: 1; } }
  .product__collection {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem; }
  .product__description {
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1px;
    max-width: 54rem; }
    .product__description--first {
      margin-bottom: 3rem; }
      @media only screen and (max-width: 50em) {
        .product__description--first {
          margin-bottom: 1rem; } }
    .product__description--second {
      margin-bottom: 9rem; }
      @media only screen and (max-width: 50em) {
        .product__description--second {
          margin-bottom: 2rem; } }
  .product__line {
    width: 2.5rem;
    height: 1px;
    background-color: #111;
    margin: 3rem 0; }
  .product__sizes {
    font-size: 1.6rem;
    max-width: 37rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    font-weight: 600;
    color: #333333; }
  .product__size {
    text-align: center;
    padding: 1.2rem 0;
    cursor: pointer;
    border-left: 1px solid #9B9B9B;
    border-right: 1px solid #9B9B9B;
    border-top: 1px solid black;
    border-bottom: 1px solid black; }
    .product__size--big {
      grid-column: span 2;
      border: 1px solid black; }
    .product__size--selected {
      background-color: #333;
      color: #fff; }

.blog {
  grid-column: full-start / full-end;
  grid-row: 5 / 5;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [main-start] minmax(min-content, 117rem) [main-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 81.25em) {
    .blog {
      grid-template-columns: [full-start] 1fr [main-start] 100% [main-end] 1fr [full-end];
      margin: 0 2rem 2rem 2rem; } }
  .blog__heading {
    grid-row: 1 / 1;
    grid-column: 1 / -1; }
  .blog__slides {
    grid-column: main-start / main-end;
    position: relative; }
  .blog__swiper-container {
    width: 117rem;
    overflow: hidden; }
    @media only screen and (max-width: 81.25em) {
      .blog__swiper-container {
        width: 100%; } }
  @media only screen and (max-width: 93.75em) {
    .blog__button-next, .blog__button-prev {
      display: none; } }
  .blog__button-next {
    position: absolute;
    color: #333333 !important;
    top: 42% !important;
    left: 106% !important;
    height: 5rem; }
  .blog__button-prev {
    position: absolute;
    color: #333333 !important;
    top: 42% !important;
    left: -8% !important;
    transform: rotate(180deg);
    height: 5rem; }
  .blog__bullet {
    outline: none !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: rgba(51, 51, 51, 0.4) !important;
    opacity: 1 !important;
    position: relative; }
  .blog__bullet.swiper-pagination-bullet-active {
    background-color: transparent !important;
    border: 2px solid red !important;
    width: 1.5rem !important;
    height: 1.5rem !important; }
  .blog .swiper-pagination-bullets {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 5rem; }
    @media only screen and (max-width: 93.75em) {
      .blog .swiper-pagination-bullets {
        display: flex; } }

.slide__image {
  width: 100%; }

.slide__heading {
  font-size: 3rem;
  color: #dc0000;
  font-weight: 700;
  line-height: 2; }

.slide__genre {
  color: #333333;
  font-size: 1.6rem;
  opacity: 0.8; }

.slide__description {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 1.8rem;
  line-height: 1.3;
  opacity: 0.4;
  position: relative;
  margin: 6rem 0; }
  .slide__description::before, .slide__description::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #333333;
    width: 100%;
    height: 1px;
    transition: all .1s;
    opacity: 0.4; }
  .slide__description::before {
    transform: translateY(-3rem); }
  .slide__description::after {
    transform: translateY(3rem); }

.slide__button {
  width: 17rem;
  height: 5rem;
  background-color: transparent;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #333333; }

.subscription {
  grid-column: full-start / full-end;
  grid-row: 6 / 6;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./../img/footer-img.png");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [main-start] minmax(min-content, 117rem) [main-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 81.25em) {
    .subscription {
      grid-template-columns: [full-start] 1fr [main-start] 100% [main-end] 1fr [full-end];
      padding: 2rem; } }
  .subscription__wrap {
    grid-column: main-start / main-end;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-column-gap: 9%; }
  .subscription__label {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    margin: 7.5rem 0 3rem 0;
    grid-column: span 2; }
    @media only screen and (max-width: 81.25em) {
      .subscription__label {
        margin-top: 3rem; } }
  .subscription__input {
    grid-column: 1;
    grid-row: 2;
    height: 5rem;
    background-color: transparent;
    border: 1px solid #fff;
    margin-bottom: 8rem;
    box-shadow: none;
    background-image: url("./../img/email-icon.png");
    text-indent: 8rem;
    background-position-y: center;
    background-position-x: 2.7rem;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    color: #fff; }
    @media only screen and (max-width: 81.25em) {
      .subscription__input {
        margin-bottom: 3rem; } }
    .subscription__input::placeholder {
      font-family: "Open Sans", sans-serif;
      color: #fff;
      font-size: 1.3rem; }
  .subscription__button {
    grid-column: 2;
    grid-row: 2;
    height: 5rem;
    padding: 0 9rem;
    border: none;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .subscription__button {
        padding: 0 4rem; } }

.footer {
  grid-column: full-start / full-end;
  grid-row: 7 / 7;
  display: flex;
  justify-content: center; }
  .footer__text {
    margin: 7rem 0;
    color: #333333;
    font-size: 1.8rem;
    opacity: 0.6;
    display: flex;
    align-items: center; }
  .footer__icon {
    background-image: url("./../img/heart.png");
    width: 2rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 4px; }
