// COLOR VARIABLES
$color-primary: #fff;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

$mainGridStructure: [full-start] minmax(6rem, 1fr) [main-start] minmax(min-content, 117rem) [main-end] minmax(6rem, 1fr) [full-end];
$mainGridStructureLarge: [full-start] 1fr [main-start] 90vw [main-end] 1fr [full-end];
$mainGridStructureLargeChild: [full-start] 1fr [main-start] 100% [main-end] 1fr [full-end];

// FONT VARIABLES
$font-primary: 'Lato', sans-serif;
$font-display: sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 93.75em;   // 1500px
$bp-large: 81.25em;   // 1300px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
$bp-smallest: 26.5625em; // 425px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-large) { font-size: 50%; }
  @media only screen and (max-width: $bp-medium) { font-size: 45%; }
  @media only screen and (max-width: $bp-small) { font-size: 35%; }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: $font-primary;
  color: $color-primary;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 9rem;
  grid-template-columns: $mainGridStructure;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: $mainGridStructureLarge;
  }
}

.mb-3 { margin-bottom: 3rem; }
.mb-9 { margin-bottom: 9rem; }
