.blog {
  grid-column: full-start / full-end;
  grid-row: 5 / 5;
  margin-bottom: 6rem;

  display: grid;
  grid-template-columns: $mainGridStructure;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: $mainGridStructureLargeChild;
    margin: 0 2rem 2rem 2rem;
  }

  &__heading {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
  }

  &__slides {
    grid-column: main-start / main-end;
    position: relative;
  }

  &__swiper-container {
    width: 117rem;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
    }
    overflow: hidden;
  }

  &__button-next,
  &__button-prev {
    @media only screen and (max-width: $bp-largest) {
      display: none;
    }
  }

  &__button-next {
    position: absolute;
    color: #333333 !important;

    top: 42% !important;
    left: 106% !important;

    height: 5rem;
  }

  &__button-prev {
    position: absolute;
    color: #333333 !important;
    top: 42% !important;
    left: -8% !important;
    transform: rotate(180deg);

    height: 5rem;
  }

  &__bullet {
    outline: none !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: rgba(51, 51, 51, 0.4) !important;
    opacity: 1 !important;
    position: relative;
  }

  &__bullet.swiper-pagination-bullet-active {
    background-color: transparent !important;
    border: 2px solid red !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  .swiper-pagination-bullets {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

    @media only screen and (max-width: $bp-largest) {
      display: flex;
    }
  }
}

.slide {
  &__image {
    width: 100%;
  }

  &__heading {
    font-size: 3rem;
    color: #dc0000;
    font-weight: 700;
    line-height: 2;
  }

  &__genre {
    color: #333333;
    font-size: 1.6rem;
    opacity: 0.8;
  }

  &__description {
    font-family: "Open Sans", $font-display;
    color: #333333;
    font-size: 1.8rem;
    line-height: 1.3;
    opacity: 0.4;
    position: relative;
    margin: 6rem 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #333333;
      width: 100%;
      height: 1px;
      transition: all .1s;
      opacity: 0.4;
    }

    &::before {
      transform: translateY(-3rem);
    }

    &::after {
      transform: translateY(3rem);
    }
  }

  &__button {
    width: 17rem;
    height: 5rem;
    background-color: transparent;
    color: #333333;
    font-family: "Open Sans", $font-display;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #333333;
  }
}
