.footer {
  grid-column: full-start / full-end;
  grid-row: 7 / 7;

  display: flex;
  justify-content: center;
  
  &__text {
    margin: 7rem 0;
    color: #333333;
    font-size: 1.8rem;
    opacity: 0.6;
    display: flex;
    align-items: center;
  }

  &__icon {
    background-image: url("./../img/heart.png");
    width: 2rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 4px;
  }
}
