.header {
  grid-column: full-start / full-end;
  grid-row: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;

  &__wrap {
    display: flex;
    max-width: 117rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &--sticky {
    position: fixed;
    top: 0;
    width: 100vw;
    left: 0;
    background-color: white;

    a {
      color: black !important;
    }
  }

  &__logo {
    height: 3rem;
    margin: 3rem 0;
    cursor: pointer;

    @media only screen and (max-width: $bp-large) {
      margin-left: 1rem;
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;

  @media only screen and (max-width: $bp-small) {
    width: auto;
  }

  &__item:not(:last-child) {
    margin-right: 4rem;

    @media only screen and (max-width: $bp-large) {
      margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin-right: .7rem;
    }
  }

  &__link:link, &__link:visited {
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    padding: 1.5rem;
    display: block;

    @media only screen and (max-width: $bp-small) {
      padding: 1rem;
    }
  }
}
