.latest-products {
  grid-row: 3 / 3;
  grid-column: main-start / main-end;
  margin-bottom: 6rem;

  @media only screen and (max-width: $bp-small) {
    margin-bottom: 3rem;
  }

  &__pictures {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem;
  }

  &__picture {
    height: 100%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    cursor: pointer;

    &--man,
    &--woman,
    &--watches {
      grid-row: 1 / 1;
      grid-column: span 2;
      padding: 18rem 0;

      font-size: 4rem;
      font-family: "Open Sans", sans-serif;
      font-style: italic;

      outline: 3px solid $color-primary;
      outline-offset: -2.7rem;

      transition: all .1s;

      &:hover {
        outline-offset: -3rem;
      }

      @media only screen and (max-width: $bp-small) {
        padding: 10rem 0;
        font-size: 2rem;
      }
    }

    &--man { background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.6)), url('./../img/lp-man.png');}
    &--woman { background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.6)), url('./../img/lp-woman.png'); }
    &--watches { background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.6)), url('./../img/lp-watches.png'); }

    &--new-collection,
    &--mega-sale {
      grid-row: 2 / 2;
      grid-column: span 3;
      display: flex;
      align-items: center;

      &:hover .latest-products__text::before { width: 21rem; }
      &:hover .latest-products__text::after { width: 21rem; }
    }

    &--new-collection { background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.6)), url('./../img/lp-new_collection.png'); }
    &--mega-sale { background-image: linear-gradient(to right bottom, rgba(51, 51, 51, 0.6), rgba(51, 51, 51, 0.6)), url('./../img/lp-mega_sale.png'); }
  }

  &__text {
    padding: 14rem 0;
    position: relative;
    font-size: 4.5rem;
    margin-bottom: 0;

    &:hover { outline-offset: -3rem; }

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: $color-primary;
      width: 20rem;
      height: 0.2rem;
      left: 50%;
      transition: all .1s;
    }

    span {
      display: inline-block;
      width: 100%;
    }

    &::before { transform: translate(-50%, -2rem); }
    &::after { transform: translate(-50%, 2rem); }

    @media only screen and (max-width: $bp-small) {
      padding: 9rem 0;
      font-size: 3rem;
    }
  }
}
