.slider {
  margin-top: -9rem;
  grid-column: full-start / full-end;
  grid-row: 2 / 2;

  justify-content: center;
  align-items: center;

  &__bullets {
    bottom: 7rem !important;
  }

  &__bullet {
    outline: none !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: $color-primary !important;
    opacity: 1 !important;
    position: relative;
  }

  &__texts {
    padding: 30rem 0;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
      padding: 20rem 5rem;
    }
  }

  .swiper-pagination-bullets {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-pagination-bullet-active {
    background-color: transparent !important;
    border: 2px solid !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
    filter: brightness(80%);
  }
}

.cta {
  color: $color-primary;
  background-color: transparent;
  border: 2px solid $color-primary;
  border-radius: 0;
  font-size: 1.8rem;
  text-transform: uppercase;
  width: 20rem;
  height: 6rem;
  cursor: pointer;
}
