.subscription {
  grid-column: full-start / full-end;
  grid-row: 6 / 6;
  background-image: linear-gradient(to right bottom, rgba(black, 0.6), rgba(black, 0.6)), url('./../img/footer-img.png');
  background-size: cover;
  background-position: center;

  display: grid;
  grid-template-columns: $mainGridStructure;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: $mainGridStructureLargeChild;
    padding: 2rem;
  }

  &__wrap {
    grid-column: main-start / main-end;

    display: grid;
    grid-template-columns: 1fr min-content;
    grid-column-gap: 9%;
  }

  &__label {
    font-family: "Open Sans", $font-display;
    font-size: 1.8rem;
    margin: 7.5rem 0 3rem 0;
    grid-column: span 2;
    @media only screen and (max-width: $bp-large) {
      margin-top: 3rem;
    }
  }

  &__input {
    grid-column: 1;
    grid-row: 2;
    height: 5rem;
    background-color: transparent;
    border: 1px solid #fff;
    margin-bottom: 8rem;
    box-shadow: none;
    background-image: url('./../img/email-icon.png');
    text-indent: 8rem;
    background-position-y: center;
    background-position-x: 2.7rem;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    color: #fff;

    @media only screen and (max-width: $bp-large) {
      margin-bottom: 3rem;
    }

    &::placeholder {
      font-family: "Open Sans", $font-display;
      color: #fff;
      font-size: 1.3rem;
    }
  }

  &__button {
    grid-column: 2;
    grid-row: 2;
    height: 5rem;
    padding: 0 9rem;
    border: none;
    background-color: #fff;
    font-family: "Open Sans", $font-display;
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;

    @media only screen and (max-width: $bp-small) {
      padding: 0 4rem;
    }
  }
}
