.trending-items {
  grid-column: full-start / full-end;
  grid-row: 4 / 4;

  display: grid;
  grid-template-columns: $mainGridStructure;

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: $mainGridStructureLargeChild;
  }

  &__product {
    grid-column: main-start / main-end;

    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: unset;
      grid-column-gap: unset;

      grid-row-gap: 3rem;
    }

  }

  &__image {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    width: 100%;
    padding: 0 2px; //hotfix against 1px line from next slide

    @media only screen and (max-width: $bp-small) {
      grid-row: 1;
      width: 85vw;
      justify-self: center;
    }
  }

  &__heading {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
  }

  &__slider {
    overflow: hidden;
    grid-column: main-start / main-end;

    @media only screen and (max-width: $bp-large) {
      margin: 0 2rem;
    }
  }

  &__swiper-container {
    width: 117rem;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
  }

  &__bullet {
    outline: none !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    background-color: rgba(51, 51, 51, 0.4) !important;
    opacity: 1 !important;
    position: relative;
  }

  &__bullet.swiper-pagination-bullet-active {
    background-color: transparent !important;
    border: 2px solid red !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  //margin-bottom: 30rem;
  //padding-bottom: 13.5rem;
}


.product {
  grid-column: 2 / 2;
  grid-row: 2 / 2;

  @media only screen and (max-width: $bp-small) {
    grid-column: unset;
    width: 85vw;
    justify-self: center;
  }

  color: #777777;

  display: flex;
  flex-direction: column;

  &__title {
    color: #dc0000;
    font-size: 3rem;
    line-height: 2.5;

    @media only screen and (max-width: $bp-medium) {
      line-height: 1;
    }

    font-weight: 700;
  }

  &__collection {
    font-family: "Open Sans", $font-display;
    font-size: 1.8rem;
  }

  &__description {
    font-family: $font-primary;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 1px;
    max-width: 54rem;

    &--first {
      margin-bottom: 3rem;

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 1rem;
      }
    }

    &--second {
      margin-bottom: 9rem;

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 2rem;
      }
    }
  }

  &__line {
    width: 2.5rem;
    height: 1px;
    background-color: #111;
    margin: 3rem 0;
  }

  &__sizes {
    font-size: 1.6rem;
    max-width: 37rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    font-weight: 600;
    color: #333333;
  }

  &__size {
    text-align: center;
    padding: 1.2rem 0;
    cursor: pointer;

    border-left: 1px solid #9B9B9B;
    border-right: 1px solid #9B9B9B;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    &--big {
      grid-column: span 2;
      border: 1px solid black;
    }

    &--selected {
      background-color: #333;
      color: #fff;
    }
  }
}

