%heading {
  font-family: $font-display;
  font-weight: 400;
  margin-bottom: 5rem;
  line-height: 1;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: $color-grey-light-1;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 6rem;
  font-weight: 900;

  @media only screen and (max-width: $bp-small) {
    font-size: 4rem;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 3rem;
  color: $color-primary;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1.2;

  @media only screen and (max-width: $bp-small) {
    font-size: 2.5rem;
  }

  &--wide { letter-spacing: 1rem }
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light { color: $color-grey-light-1; }
  &--dark { color: $color-grey-dark-1; }
}

.highlighted-heading {
  color: #333333;
  font-size: 4rem;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: center;
  line-height: 2.4;
  font-weight: 300;
  margin: 6rem 0;

  @media only screen and (max-width: $bp-small) {
    margin: 3rem 0;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin: 2rem 0;
  }

  &::before,
  &::after {
    display: block;
    width: 11.3rem;
    height: .3rem;
    background-color: red;

    content: "";
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
  }
}

.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: $color-primary-dark;
  }
}

.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }
